/*** COLOR VARIABLES ***/
:root {
    --color-gallery: #eee;
    --color-athens-gray: #ddd;
    --color-concrete: #f2f2f2;
}


/*** GLOBAL SELECTORS ***/
* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.342);
}

textarea {
    resize: none;
}

/*** REUSABLE ELEMENTS ***/
.table-row{
    display: table-row;
}

/*** MAIN BODY ***/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--color-gallery);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: clamp(2em, 3vw, 4em);
}

.top, .footer {
    max-width: 1200px;
    width: 100%;
    padding: 5em 2em;
}

.status__selected, a:hover {
    text-decoration: underline;
}

/*** SUBHEADER ***/
.book-status{
    background-color: #fff;
    margin: 1.5em 0;
}

.book-status__item {
    padding: 10px 12px;
    border: 1px solid var(--color-gallery);
}
.serachbar-form{
    background-color: #fff;
}
.searchbar-wrapper{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-gallery);
    padding: 0px 2px;
}
.searchbar-wrapper > i {
    padding: 1px 2px;
    position: absolute;
    color: var(--color-athens-gray);
}
.searchbar {
    border: none;
    padding: 5px 0 5px 20px;
}

/*** FORM ***/

/*** LIBRARY ***/
.library {
    background-color: #fff;
}

/*** PSEUDO TABLE ***/
.table {
    display:table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 60vh;
}

.thead
{
	display:table-header-group;
	font-weight:bold;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}

.td, .th
{
	display:table-cell;
}

.td, .th, .tr {
    padding: 8px 4px;
    text-align: center;
}

.library__bookshelf .td{
    width: 100%;
}

.tr .th:nth-child(3){
    max-width: 100px;
}

.tr:nth-child(even) {
    background-color: var(--color-concrete);
}

.tr:not(:first-child):hover {
    background-color: var(--color-athens-gray);
}

.table .th{
    border: 1px solid var(--color-athens-gray);
}

.book__pages--info{
    max-width: 100px;
}

.book__notes--info{
    max-width: 200px;
}

.library__book-submission, .library__book-submission > div {
    vertical-align: middle;
}

.library__book-submission > div > * {
    width: 100%;
    max-width: 130px;
}

.edit-btn {
    margin-right: 5px;
}

/*** FOOTER ***/
.footer {
    display: inline-block;
}

.footer-author>a {
    color: #0000ff;
}