/*** COLOR VARIABLES ***/
:root {
    --color-gallery: #eee;
    --color-athens-gray: #ddd;
    --color-papaya-whip: #FFEFD5;
    --color-peach-puff: #ffdab9;
    --color-peach: #ffe5b4;
    --color-coral: #ff7f50;
    --color-light-salmon: #ffa07a;
    --color-orangered: #ff4500;
    --color-cinnamon: #7e3d00;
}

/*** GLOBAL SELECTORS ***/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a, button, input[type='button'] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.342);
}

textarea {
    resize: none;
}

/*** REUSABLE ELEMENTS ***/
.table-row {
    display: table-row;
}

/*** MAIN BODY ***/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--color-papaya-whip);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top, .footer {
    max-width: 1200px;
    width: 100%;
    padding: 3em 2em;
}

/*** TOP HEADER ***/
.user__profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    font-size: clamp(1.6em, 2.1vw, 3.2em);
    margin-left: 20px;
}
.library__photo-id{
    background-size: cover;
    border-radius: 50%;
}
.avatar-wrapper{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.avatar{
    width: 100%;
    height: 100%;
}
.auth-btn-wrapper{
    display: flex;
    align-items: center;
    background: #fff;
}

.auth-btn{
    background: transparent;
    border: 0;
    font-size: clamp(1rem, 1vw, 2rem);
    padding: 10px 10px 10px 40px;
}

.google-icon-wrapper{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 8px 6px;
}
/*** SUBHEADER ***/

.status__selected {
    background-color: var(--color-cinnamon);
}

.status__selected>button {
    color: #fff;
}

.status__not-selected {
    background: var(--color-peach-puff);
}

.book-status, .data-status {
    margin: 1.5em 0;
    font-size: clamp(.8rem, 1vw, 1.7rem);
}

.data-status{
    background: #fff;
}

.book-status__filter, .clear-data__local {
    padding: 10px 12px;
    color: var(--color-cinnamon);
    border: none;
    background: transparent;
    text-transform: capitalize;
    font-size: inherit;
    height: 100%;
    width: 100%;
}

.book-status__item:hover, .data-status__item:hover {
    background-color: var(--color-cinnamon);
}

.book-status__item:hover>button, .data-status__item:hover>button {
    color: #fff;
}

.searchbar-form {
    background-color: #fff;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-gallery);
    padding: 0px 2px;
}

.searchbar-wrapper>i {
    padding: 1px 2px;
    position: absolute;
    color: var(--color-athens-gray);
}

.searchbar {
    border: none;
    padding: 5px 0 5px 20px;
}

/*** FORM ***/

/*** LIBRARY ***/
.library {
    background-color: #fff;
}

/*** PSEUDO TABLE ***/
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 60vh;
    color: var(--color-cinnamon);
    text-transform: capitalize;
}

.thead {
    display: table-header-group;
    font-weight: bold;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td, .th {
    display: table-cell;
}

.td, .th, .tr {
    padding: 8px 4px;
    font-size: clamp(.9rem, .8vw, 1.6rem);
    text-align: start;
}

.td:last-child, .th:last-child, .tr:last-child{
    text-align: center;
}

.library__bookshelf .td {
    width: 100%;
}

.tr .th:nth-child(3) {
    max-width: 100px;
}

.table .th, .td {
    border: 1px solid var(--color-gallery);
}

.book__notes--info {
    max-width: 200px;
}

.book__info-text {
    background-color: var(--color-peach-puff);
}

.book__info-text>a {
    color: var(--color-cinnamon);
}

.book__info-text>a:hover {
    text-decoration: underline;
}

.library__book-submission, .td {
    vertical-align: middle;
}

.book-input>*:not(.btns-container) {
    width: 100%;
    max-width: 130px;
}

.library__book-submission input, .library__book-submission textarea{
    border: 3px solid var(--color-peach-puff);
}

.library__book-submission select{
    border: 3px solid var(--color-peach-puff);
    background-color: var(--color-peach-puff);
}

.tr select, .tr input, .tr textarea {
    border: 3px solid var(--color-peach-puff);
    background-color: var(--color-peach-puff);
}

.btns-container>button, #library__book-submit {
    border: 2px solid var(--color-cinnamon);
    background-color: transparent;
    color: var(--color-cinnamon);
}

.btns-container>button:hover, #library__book-submit:hover {
    background-color: var(--color-cinnamon);
    color: #fff;
}

.edit-btn, .save-btn {
    margin-right: 5px;
}

.btns-container > * {
    border: 2px solid var(--color-cinnamon);
    background-color: transparent;
    color: var(--color-cinnamon);
}

/*** FOOTER ***/
.footer {
    display: inline-block;
}

.footer-author>a {
    color: var(--color-cinnamon);
}

/*** VIEWPORT MEDIA ***/
@media screen and (max-width: 768px){
    .top, .footer {
        max-width: 1200px;
        width: 100%;
        padding: 3em .25em;
    }
    .book-status tr {
        display: flex;
        flex-wrap: wrap;
    }
    .edit-btn, .save-btn {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .footer-author {
        text-align: center;
    }
    .td:nth-child(3), .book-input:nth-child(3), .book__info-text:nth-child(3) {
        display: none;
    }
    .td:nth-child(5), .book-input:nth-child(5), .book__info-text:nth-child(5) {
        display: none;
    }
    .book-status__filter, .clear-data__local {
        padding: 6px 8px;
    }
}

@media screen and (max-width: 640px){
    .book-input > * {
        height: 100%;

    }
    .tr:nth-child(2n+1) select, .tr:nth-child(2n+1) input, .tr:nth-child(2n+1) textarea{
        background-color: #fff;
    }
    .book-input {
        padding: 0;
    }
}