/*** COLOR VARIABLES ***/
:root {
    --color-gallery: #eee;
    --color-athens-gray: #ddd;
    --color-papaya-whip: #FFEFD5;
    --color-peach-puff: #ffdab9;
    --color-peach: #ffe5b4;
    --color-coral: #ff7f50;
    --color-light-salmon: #ffa07a;
    --color-orangered: #ff4500;
    --color-cinnamon: #7e3d00;
}

/*** GLOBAL SELECTORS ***/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a, button, input[type='button'] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.342);
}

textarea {
    resize: none;
}

/*** REUSABLE ELEMENTS ***/
.table-row {
    display: table-row;
}

/*** MAIN BODY ***/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--color-papaya-whip);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: clamp(2em, 3vw, 4em);
}

.top, .footer {
    max-width: 1200px;
    width: 100%;
    padding: 5em 2em;
}

/*** SUBHEADER ***/

.status__selected {
    background-color: var(--color-cinnamon);
}

.status__selected>button {
    color: #fff;
}

.status__not-selected {
    background: var(--color-peach-puff);
}

.book-status {
    background-color: #fff;
    margin: 1.5em 0;
}

.book-status__filter {
    padding: 10px 12px;
    color: var(--color-cinnamon);
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: inherit;
    height: 100%;
    width: 100%;
}

.book-status__item:hover {
    background-color: var(--color-cinnamon);
}

.book-status__item:hover>button {
    color: #fff;
}

.searchbar-form {
    background-color: #fff;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-gallery);
    padding: 0px 2px;
}

.searchbar-wrapper>i {
    padding: 1px 2px;
    position: absolute;
    color: var(--color-athens-gray);
}

.searchbar {
    border: none;
    padding: 5px 0 5px 20px;
}

/*** FORM ***/

/*** LIBRARY ***/
.library {
    background-color: #fff;
}

/*** PSEUDO TABLE ***/
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 60vh;
}

.thead {
    display: table-header-group;
    font-weight: bold;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td, .th {
    display: table-cell;
}

.td, .th, .tr {
    padding: 8px 4px;
    text-align: center;
}

.library__bookshelf .td {
    width: 100%;
}

.tr .th:nth-child(3) {
    max-width: 100px;
}

.tr:nth-child(even) {
    background-color: var(--color-peach-puff);
}

.table .th, .td {
    border: 1px solid var(--color-gallery);
}

.book__pages--info {
    max-width: 100px;
}

.book__notes--info {
    max-width: 200px;
}

.book__info-text {
    background-color: var(--color-peach-puff);
}

.book__info-text>a {
    color: var(--color-cinnamon);
}

.book__info-text>a:hover {
    text-decoration: underline;
}

.library__book-submission, .td {
    vertical-align: middle;
}

.book-input>*:not(.btns-container) {
    width: 100%;
    max-width: 130px;
}

.tr:nth-child(odd) .btns-container>button, #library__book-submit {
    border: 2px solid var(--color-cinnamon);
    background-color: transparent;
    color: var(--color-cinnamon);
}

.tr:nth-child(odd) .btns-container>button:hover, #library__book-submit:hover {
    background-color: var(--color-cinnamon);
    color: #fff;
}

.tr:nth-child(even) .btns-container>button {
    border: 2px solid #fff;
    background-color: transparent;
}

.tr:nth-child(even) .btns-container>button:hover {
    background-color: #fff;
}

.edit-btn, .save-btn {
    margin-right: 5px;
}



/*** FOOTER ***/
.footer {
    display: inline-block;
}

.footer-author>a {
    color: var(--color-cinnamon);
}